@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
/* fonts
font-family: "Mystery Quest"
font-family: 'Dancing Script';
*/

@font-face {
  font-family: "Fabiana";
  src: url("../fuentes/Fabiana.ttf");
}
#cabecera{
    background:  #5b7989;
    font-family: "Dancing Script", cursive;
    color:white;
    border-radius: 10px;
    height: 100px;
    margin-top: 0px;
}
#titulo h1{
  text-shadow: 2px #02010a;
  float: left;
  width: 50%;
  font-size: 60px;
  margin:10px;

}
#menu a{
  float: right;
  text-decoration: none;
  font-size: 30px;
  margin:30px;
  color:white;
}
#imagencentral{
  background: #82c3a6;
  width: 100%;
}
#espacio{
  width: 90%;
  height: 90%;

}
/*centrado de imagen*/
#imagencentral img{
  display:block;
  margin:auto;
}
/*imagenes secundarias*/
#secundarias{
  display: flex;
  flex-direction: row;
  background: #d5c75f;
  justify-content:space-around;
}
#imagen1>img{
  border-width: 2px;
  box-shadow:2px 2px #82c3a6;
}
#imagen1>img:hover{
  transform: rotate(10deg);
}
#imagen1,#imagen2>p{
  font-size: 15px;
  text-align: center;
  text-decoration: underline;
}

#imagen2>img{
  border-width: 2px;
  box-shadow:2px 2px #82c3a6;
}

#imagen2>img:hover{
  transform: translate(20px,-5px);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Dancing Script", cursive;
  background: #C6d5c5;
  border-radius: 10px;
  margin:0;
}
